<!DOCTYPE html>

<html>
	<head>
		<title>About</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/imgs/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		{{>header}}
		<img class="me" src="{{ img }}">
		<p>Créer par: {{ name }}</p>
		<p>Ce site est un app créer par le cours the-complete-nodejs-developer-course-2 sur ucademy</p>
		{{>footer}}
	</body>

</html>