<!DOCTYPE html>

<html>

<head>
	<title>Weather app</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/imgs/favicon.png" />
    	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	{{>header}}
	<form>
		<label id="adresse" for="adresse">Adresse</label>
		<input id="adresse" type="text" name="adresse">
		<button>Envoyer</button>
	</form>
	<h2 class="location"></h2>
	<p class="texte"></p>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>